In [2]:
#Araceli Olarte Ledezma
#A01686220

In [5]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [23]:
#You will use the dataframe df for the following:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [17]:
import pandas as banana
df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head

<bound method NDFrame.head of     a   b
0  11  21
1  21  22
2  31  23>

In [18]:
import pandas as banana
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [19]:
df.to_csv("file.csv")

In [ ]:
with open("Example2.txt","w") as writefile:

writefile.write("This is line A\n")

writefile.write("This is line B\n")

In [ ]:
with open("Example1.txt","r") as file1:
FileContent=file1.readlines()
print(FileContent)

In [ ]:
with open("Example3.txt","a") as file1:

file1.write("This is line C\n")