In [ ]:
#Araceli Olarte Ledezma
#A01686220

In [1]:
 d=3+2*2

In [2]:
print (d)

7

In [3]:
int(3.2)

3

In [4]:
 A='1234567'

In [5]:
A[1::2]

'246'

In [6]:
Name="Michael Jackson"

In [7]:
 Name.find('el')

5

In [18]:
 A='1'

In [19]:
B='2'

In [20]:
C= A+B

In [21]:
print (C)

12

In [22]:
 F="You are wrong"

In [23]:
F.upper()

'YOU ARE WRONG'

In [27]:
tuple1=("A","B","C" )

In [29]:
tuple1[-1]

'C'

In [30]:
A=((11,12),[21,22])

In [31]:
A[1]

[21, 22]

In [32]:
A=((11,12),[21,22])

In [33]:
 A[0][1]

12

In [34]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [35]:
A=[1,'a']

In [36]:
B=[2,1,'d']

In [37]:
A+B

[1, 'a', 2, 1, 'd']

In [38]:
A/B

<class 'TypeError'>: unsupported operand type(s) for /: 'list' and 'list'

In [42]:
a=set(A)

In [43]:
V={'A','B'}

In [44]:
V.add('C')

In [45]:
print (V)

{'B', 'C', 'A'}

In [50]:
V={'A','B','C' }

In [51]:
V.add('C')

In [52]:
print (V)

{'B', 'C', 'A'}

In [57]:
x="Go"

<class 'IndentationError'>: expected an indented block after 'if' statement on line 2 (<ipython-input-57-87f5f0914c56>, line 2)

In [59]:
if(x=="Go"):
    print ('Go')
else:
    print ('stop')
print('Mike')

Go
Mike

In [61]:
A=((11,12),[21,22])

In [64]:
 A[1]

[21, 22]

In [65]:
for n in range(3):

print(n+1)

<class 'IndentationError'>: expected an indented block after 'for' statement on line 1 (<ipython-input-65-2650620b133b>, line 3)

In [67]:
n= 1

In [68]:
for n in range(3):

print(n+1)

<class 'IndentationError'>: expected an indented block after 'for' statement on line 1 (<ipython-input-68-2650620b133b>, line 3)

In [69]:
A=['1','2','3']

In [72]:
for a in A:
    print(2*a)

11
22
33

In [74]:
def Add(x,y):

<class 'IndentationError'>: expected an indented block after function definition on line 1 (<ipython-input-74-eadac1afa3fa>, line 1)

In [75]:
Add('1','1')

<class 'NameError'>: name 'Add' is not defined

In [76]:
n=['1','2','3']

In [77]:
for n in range(3):
    print(n+1)

1
2
3

In [81]:
V={'1','2','3' }

In [82]:
V.Add('1','1')

<class 'AttributeError'>: 'set' object has no attribute 'Add'

In [83]:
def Add(x,y):

z=y+x

return(y)

<class 'IndentationError'>: expected an indented block after function definition on line 1 (<ipython-input-83-00ed9f363ced>, line 3)

In [87]:
class Points(object):
    def __init__(self,x,y):

<class 'IndentationError'>: expected an indented block after function definition on line 2 (<ipython-input-87-921bc8553cf4>, line 2)

In [ ]:
def print_point(self):
print('x=',self.x,'y=',self.y)

In [90]:
class Points(object):
    def_init_(Selft,x,y):
        self.x=x
        self.y=y
    def print_points(self):
        print('x=',self.x'y=',self.y)
p1=points(1,2)
p1.print_point()

<class 'SyntaxError'>: invalid syntax (<ipython-input-90-4e2331b13bca>, line 2)

In [92]:
class Points(object):
def __init__(self,x,y):
self.x=x
self.y=y
def print_point(self):
print('x=',self.x,' y=',self.y)
p2=Points(1,2)
p2.x=2
p2.print_point()

<class 'IndentationError'>: expected an indented block after class definition on line 1 (<ipython-input-92-613a6dc855c2>, line 2)